<!-- FontAwesome JS-->
<script src="https://kit.fontawesome.com/5b9421e568.js" crossorigin="anonymous"></script>

<!-- Theme CSS -->  
{{ style('css/blog.css') }}

<!-- Plugin CSS -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.14.2/styles/monokai-sublime.min.css">


<!-- Jquery -->
{{ script('vendor/jquery/jquery.min.js') }}


<!-- Javascript -->          
{{ script('vendor/bootstrap/js/bootstrap.min.js') }}

